<h2>Neighborhood bulletin board</h2>


<form action="/posts">
  <label for="browser_username">Create a post</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Post</button>
</form>

<hr>

